@charset"UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #cfc4b8;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #e6d7c0;
}

header{
    background-color: #53705c;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.img-header{
    height: 3rem;
    width: 3rem;
    margin-right: 4rem ;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: #ffffff;
}

.nav-list{
    display: flex;
    align-items: center;

}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.4s;
}

.nav-link:hover{
    color: #ddd3c1;
}

.contato-button button{
    border: none;
    background-color: #ddd3c1;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 7%;
    transition: all 0.4s;
}

.contato-button button:hover{
    background-color: #b9b0a1;
}

.contato-button button a{
    text-decoration: none;
    color: #53705c;
    font-weight: 500;
    font-size: 1.1rem;
}

.titulo{
    text-align: center;
    background-color: #ddd3c1;
    color: #53705c;
    border-style:double;
    margin-top: 2rem;
    margin-left: 220px;
    margin-right: 220px;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.container{
    position: relative; /*fluxo da pág. normal*/
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 900px;
}

.carrossel{
    position: absolute;
    width: 100%; /*100% do elemento pai*/
    height: 100%;
    transform-style: preserve-3d; /*para o atributo "perpective" ser acionado*/
    animation: rotate360 30s infinite forwards linear ;
}

.imagem{
    position: absolute; /*comportamento de bloco*/
    width: 290px;
    height: 187px;
    top: 10px; /*referente ao elemento filho*/
    left: 10px;
    right: 10px;
    background-size: cover; /*para a imagem cobrir toda a div*/
    box-shadow: inset 0 0 0 2000px rgba(85, 50, 22, 0.2) ; /*sombra para dar efeito, o inset é para projetar a sombra para dentro da imagem*/
    display: flex; /*para as imagens ficarem na msm linha*/
    border-radius: 10px;

}

.imagem span{
    margin-top: 55%;
    margin-left: 10%;
    font-size: 1em;

}

@keyframes rotate360{
    from{
        transform: rotateY(0deg); /*graus da rotação "deg"*/
    }
    to{
        transform:rotateY(-360deg); /*para dar o movimento*/
    }
}

.imagem:nth-child(1){
    background-image: url(https://img.freepik.com/fotos-gratis/garota-de-olhos-escuros-surpresa-posando-no-banco-em-um-dia-ensolarado-foto-ao-ar-livre-de-uma-magnifica-mulher-francesa-sentada-na-rua-com-a-expressao-do-rosto-espantado_197531-11334.jpg?size=626&ext=jpg);
    transform: rotateY(0deg) translateZ(430px);/*giro circular*/
}

.imagem:nth-child(2){
    background-image: url(https://img.freepik.com/fotos-premium/retrato-3d-de-uma-escultura-antiga-com-efeito-de-falha-estilo-cyberpunk-doenca-conceitual-de-inteligencia-artificial-realidade-virtual-sistemas-de-aprendizagem-profunda-e-suspeita_616588-980.jpg?size=626&ext=jpg);
    transform: rotateY(40deg) translateZ(430px);
}

.imagem:nth-child(3){
    background-image: url(https://img.freepik.com/fotos-gratis/bela-vista-da-cidade-de-uma-cidade-urbana-um-tiro-de-cima_181624-406.jpg?size=626&ext=jpg);
    transform: rotateY(80deg) translateZ(430px);
}

.imagem:nth-child(4){
    background-image: url(https://img.freepik.com/fotos-gratis/homem-irreconhecivel-escrevendo-o-plano-no-diario-e-gadgets-deitado-na-mesa_1098-20132.jpg?size=626&ext=jpg);
    transform: rotateY(120deg) translateZ(430px);
}

.imagem:nth-child(5){
    background-image: url(https://img.freepik.com/fotos-gratis/ondas-do-mar-ao-por-do-sol_1203-2095.jpg?size=626&ext=jpg);
    transform: rotateY(160deg) translateZ(430px);
}

.imagem:nth-child(6){
    background-image: url(https://img.freepik.com/fotos-gratis/a-mulher-tira-uma-foto-na-fotocamara-retro-sentada-no-cafe_8353-1386.jpg?size=626&ext=jpg);
    transform: rotateY(200deg) translateZ(430px);
}

.imagem:nth-child(7){
    background-image: url(https://img.freepik.com/fotos-gratis/mesa-vintage-e-conceito-de-viagem_23-2147791080.jpg?size=626&ext=jpg);
    transform: rotateY(240deg) translateZ(430px);
}

.imagem:nth-child(8){
    background-image: url(https://img.freepik.com/fotos-gratis/feche-a-camera-digital-profissional-em-um-tripe_169016-10266.jpg?size=626&ext=jpg);
    transform: rotateY(280deg) translateZ(430px);
}

.imagem:nth-child(9){
    background-image: url(https://img.freepik.com/fotos-gratis/folhas-de-outono-nas-maos-de-meninas_1153-7384.jpg?size=626&ext=jpg);
    transform: rotateY(320deg) translateZ(430px);
}

footer{
    margin-top: 36rem;
    width: 100%;
    color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px; /*espaçamento entre letras*/
}

.img-footer{
    height: 6rem;
    width: 7rem;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: #53705c;
    display: grid; /*colunas*/ 
    grid-template-columns: repeat(4, 1fr); /*para distribuir em 4 colunas*/
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem; /*espaçmento entre os ícones*/
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem; /*para poder por um background*/
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background-color: #283f2f;
}

#email{
    background-color: #283f2f;
}

#linkedin{
    background-color: #283f2f;
}

#github{
    background-color: #283f2f;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;list-style: none;
    margin-left: 2rem;
    margin-top: 2rem;
}

.footer-list .footer-link{
    color: #ddd3c1;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #283f2f;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

#footer_subscribe p{
    color: #ddd3c1;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: #ddd3c1;
    border-radius: 4px;
}

#input_group input{
    all: unset; /*para tirar a aparência padrão da input*/
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: #283f2f;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #4c6454;
    font-size: 0.9;
    padding: 1.5rem;
    font-weight: 100;
    color: #ddd3c1;
}

